<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Company Form</title>
</head>
<body>
    <section class="relative left-30px">
        <div class="p-2 w-full mt-5 ml-8">
            <a href="/"><i class='bx bx-arrow-back bx-md'></i></a>
        </div>
    </section>


    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Company Detail</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
          </div>
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <form action="">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">
                    <div class="relative">
                    <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                    <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                    <label for="location" class="leading-7 text-sm text-gray-600">Location</label>
                    <input id="location" type="text"  name="location" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>

                <div class="p-2 w-1/2">
                    <div class="relative">
                    <label for="description" class="leading-7 text-sm text-gray-600">Description</label>
                    <input id="description" type="text"  name="description" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                    <label for="revenue" class="leading-7 text-sm text-gray-600">Revenue</label>
                    <input id = "revenue" type="text"  name="revenue" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
              
                <div class="p-2 w-full">
                    <button id = "btnbtn" data-owner_id="<%= data.owner_id %>" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Post</button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </section>  
</body>

<script>
    const btn = document.getElementById("btnbtn");
       async function createCompany(){
           const name = String(document.getElementById("name").value);
           const location = String(document.getElementById("location").value);
           const description = String(document.getElementById("description").value);
           const revenue = String(document.getElementById("revenue").value);
           const owner_id = btn.dataset.owner_id;
     
           const data = {name, location, description, revenue, owner_id};
           const response = await fetch("/company/create",{
               method:"post",
               headers:{
                   "Content-Type":"application/json"
               },
               body:JSON.stringify(data)
           });
           const result = await response.json();
           window.location.href = `/`;
           
       }
       btn.addEventListener('click',createCompany);
   </script>

</html>