* {
  margin: 0;
  padding: 0;
}
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 33.33%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "livvic";
}
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
header {
  width: 100%;
  height: 75px;
  background-color: #282828;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
}
h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: "livvic";
  color: #39ca74;
  font-size: 2.5rem;
  font-weight: 600;
  margin: auto 0px auto 2%;
  vertical-align: center;
  height: 66px;
}
span {
  color: #fff;
}
ul {
  width: auto;
  float: right;
  margin-top: 8px;
}
li {
  display: inline-block;
  padding: 15px 30px;
}
li a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "livvic"; /* font-size: 1.2;vw */
}
li a:hover {
  color: #f0c330;
  transition: 0.5s;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.links {
  float: left;
  text-align: center;
}
.links a:visited,
.links a {
  text-decoration: none;
  color: black;
  padding: 10px 40px;
  border: 2px solid #39ca74;
  font-size: 30px;
  border-radius: 20em;
  transition: 0.65s;
}
.links a:hover,
.links a:active {
  background-color: #39ca74;
}

.row{
  justify-content: center;
  margin: 0px auto;
}

.c_detail{
  float:left;
}

.chat-area{
  /* width: 40%; */
  margin: auto;
  /* border: 2px solid black; */
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
}

.chat{
  display: flex;
  justify-content: center;
}
.chat-padding{
  width: 40%;
  justify-content: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding-bottom: 0px;
}
.company{
  width: 80%;
  float: left;
  display:flex;
  margin: 5px;
  /* margin-left: 50px; */
}
.user{
  width:80%;
  float: right;
  display:flex;
  justify-content: right;
  margin: 5px;
  /* margin-right: 50px; */
}
.company span{
  background-color: #39ca74;
  border-radius: 20px;
  padding: 5px 20px;
  color: black;
}

.user span{
  background-color: #f0c330;
  border-radius: 20px;
  padding: 5px 20px;
  color: black;
}

.forum-input{
  margin-top: 10px;
  width: 90%;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
}
.post-icon{
  display: inline-block;
  margin-top: 10px;
}

ion-icon{
  font-size: 250%;
}

.invest-btn-div{
  margin-bottom: 0px;
}